* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(70, 142, 236);
  font: normal 15pt Arial;
}

header {
  color: #fff;
  text-align: center;
  margin: auto;
}

#titulo-h1 {
  padding: 20px;
}

section {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div {
  text-align: center;
  padding: 10px;
}

#msg {
  font-weight: lighter;
  font-size: 25px;
}

#img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

footer {
  color: #fff;
  text-align: center;
  font-style: italic;
}

#p-footer {
  padding: 15px;
}

/* Responsividade */

@media (max-width: 500px) {
  section {
    width: 100%;
  }
}